html {
    background-color: #0b1120;
    color: #fff;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(11, 17, 32, 1) 0%, rgba(17, 24, 39, 1) 100%);
    color: #fff;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    min-height: 100vh;
}
